body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.password-container{
    background-color: rgb(58, 114, 206);
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 10px;
}
.input-container{
    border: solid 2px rgb(30, 72, 75);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    letter-spacing: 2.5px;
    width: 100%;
}
.input::placeholder{
    color: white;
    opacity: 0.7;
}
.fa-copy{
    cursor: pointer;
    opacity: .5;
}
.fa-copy:hover{
    opacity: 1;
}
.btn{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.btn:active{
    transform: scale(0.98);
}
.alert-container{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: rgb(0, 4, 75);
    color: white;
    right:20px;
    bottom:20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: right 0.5s ease-in-out;

}
.active.alert-container{
    right: -300px;
}